<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="common">
	<select id="getChild" parameterType="int" resultType="commonDto">
		SELECT
		CODE_ID ,P_CODE_ID ,CODE_NAME ,CODE_VALUE ,CODE_IMG
		FROM COMMON
		WHERE P_CODE_ID = #{code_id}
	</select>

	<insert id="insert" parameterType="commonDto">
	    INSERT INTO common
	    (
	        code_id
	        <if test="p_code_id != 0">, p_code_id</if>,
	        code_name
	        <if test="code_value != null">, code_value</if>
	        <if test="code_img != null">, code_img</if>
	    )
	    VALUES
	    (
	        #{code_id}
	        <if test="p_code_id != 0">, #{p_code_id},</if>
	        #{code_name}
	        <if test="code_value != null">, #{code_value},</if>
	        <if test="code_img != null">, #{code_img},</if>
	    )
	</insert>



	<update id="update" parameterType="commonDto">
	    UPDATE common
	    SET
	    <if test="p_code_id != 0">p_code_id = #{p_code_id},</if>
	    <if test="code_name != null">code_name = #{code_name},</if>
	    <if test="code_value != null">code_value = #{code_value},</if>
	    <if test="code_img != null">code_img = #{code_img}</if>
	    WHERE code_id = #{code_id}
	</update>


	<delete id="delete" parameterType="int">
		DELETE FROM common
		WHERE
		code_id = #{code_id}
	</delete>

</mapper>