<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="menu">

   <select id="getList" resultType="menuDto">
      SELECT id,name,price,img_name,summary,description,is_sold,category_id
      FROM menu
   </select>

   <select id="getListByCategory" resultType="menuDto">
      SELECT id,name,price,img_name,summary,description,is_sold,category_id
      FROM menu
      WHERE category_id = #{category_id}
   </select>
   
   <select id="getCategory">
     SELECT
		B.code_id AS code_id,
		B.code_name AS code_name
	 FROM
		common A
	 JOIN common B ON
		A.code_id = B.p_code_id
	 WHERE
		A.code_id = 1000
   </select>
   
   <insert id="insert">
      INSERT INTO menu
      (id,name,price <if test="img_name != null">,img_name</if>,summary,description,is_sold,category_id)
      VALUES(seq_menu_id.NEXTVAL,#{price} <if test="img_url != null">,img_name=#{img_name}</if>,#{summary},#{description},false,#{category_id})
   </insert>

</mapper>