<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="order">
	<insert id="insert" parameterType="orderDto">
		INSERT INTO CART
		(	
			ORDER_ID
			,ID
			,KIOSK_ID
			,MENU_NAME
			,MENU_PRICE
			,MENU_COUNT
			,OPTIONS
			,IS_COMPLETED
			,REGDATE
		)
		VALUES
		(
			#{order_id}
			,seq_order_id.nextval
			,#{kiosk_id}
			,#{menu_name}
			,#{menu_price}
			,#{menu_count}
			,#{options}
			,'false'
			,SYSDATE
		)
	</insert>

	<select id="getOrders" parameterType="orderDto" resultType="orderDto">
		SELECT 
			ORDER_ID 
			,ID 
			,KIOSK_ID 
			,MENU_NAME 
			,MENU_PRICE 
			,MENU_COUNT 
			,OPTIONS
			,IS_COMPLETED
			,REGDATE
		FROM 
			CART
		<if test="order_id != 0">
		WHERE 
			ORDER_ID = #{order_id} AND IS_COMPLETED = 'false'
		</if>
		
	</select>
	
	<select id="getOrder" parameterType="orderDto" resultType="orderDto">
		SELECT 
			ORDER_ID 
			,ID 
			,KIOSK_ID 
			,MENU_NAME 
			,MENU_PRICE 
			,MENU_COUNT 
			,OPTIONS
			,IS_COMPLETED 
			,REGDATE 
		FROM 
			CART 
		WHERE ID = #{id}
	</select>
	
	<delete id="deleteAll" parameterType="orderDto">
		DELETE 
		FROM 
			CART
		WHERE ORDER_ID = #{order_id}	
	</delete>
	
	<delete id="delete" parameterType="orderDto">
		DELETE 
		FROM 
			CART
		WHERE id= #{id}
	</delete>
	
	<update id="update" parameterType="orderDto">
		UPDATE CART 
		SET 
			MENU_PRICE = #{menu_price}
			,MENU_COUNT = #{menu_count}
			,IS_COMPLETED = #{is_completed}
			,OPTIONS =  #{options}
		WHERE id=#{id}
	</update>
</mapper>