<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="order">
	<insert id="insert" parameterType="orderDto">
		INSERT INTO CART
		(
			ID,
			KIOSK_ID,
			MENU_NAME,
			MENU_PRICE,
			MENU_COUNT,
			OPTIONS,
			REGDATE
		)
		VALUES
		(
			#{id},
			#{kiosk_id},
			#{menu_name},
			#{menu_price},
			#{menu_count},
			#{options},
			SYSDATE
		)
	</insert>

	<select id="getOrders" parameterType="int" resultType="orderDto">
		SELECT ID ,KIOSK_ID , MENU_NAME ,MENU_PRICE ,MENU_COUNT ,OPTIONS ,REGDATE
		FROM CART
		WHERE ID = #{id}
	</select>
	
	<delete id="deleteAll" parameterType="int">
		DELETE FROM CART
		WHERE ID = #{id}	
	</delete>
</mapper>