<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="users">
    <select id="getUserList" resultType="userDto">
        SELECT *
        FROM users
    </select>

    <select id="getUser" parameterType="String" resultType="userDto">
        SELECT userName, userId, password, rank, role
        FROM users
        WHERE userId = #{userId}
    </select>

    <delete id="delete" parameterType="String">
        DELETE FROM users
        WHERE userId = #{userId}
    </delete>

    <insert id="insert" parameterType="userDto">
        INSERT INTO users
        (userName, userId, password, rank, role)
        VALUES(#{userName}, #{userId}, #{password}, #{rank}, #{role})
    </insert>

    <update id="update" parameterType="userDto">
        UPDATE users
        SET password=#{password}, rank=#{rank}, role=#{role}
        WHERE userId = #{userId}
    </update>

</mapper>